{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "My Spotify Wrapped" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'spotifywrapped/homestyle.css' %}">
    <script src="{% static 'spotifywrapped/script.js' %}" defer></script>
</head>
<body>

    <header>
        <div class="logo">
        <!-- Make the logo clickable and redirect to home -->
        <a href="{% url 'home' %}">
            <img src="{% static 'spotifywrapped/spotify.png' %}" alt="Spotify Logo">
        </a>
        <h1>{% trans "My Spotify Wrapped" %}</h1>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

    <!-- Dropdown menu -->
    <div class="dropdown-menu" id="dropdownMenu">
        <ul>
             <li><button onclick="toggleTheme()">{% trans "Toggle Dark Mode" %}</button></li>
            <li><button onclick="toggleNeon()">{% trans "Toggle Neon Mode" %}</button></li>
            <li><a href="{% url 'gamepage' %}" id="games">{% trans "Games" %}</a></li>
            <li><a href="{% url 'wraps' %}" id="wraps">{% trans "My Wraps" %}</a></li>
            <li><a href="{% url 'settings' %}" id="settingsLink">{% trans "Settings" %}</a></li>
            <li><a href="{% url 'logout' %}">{% trans "Log Out" %}</a></li>
        </ul>
    </div>

    <!-- Main content of each page -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- JavaScript for dropdown toggle -->
    <script>
        function toggleMenu() {
            const dropdown = document.getElementById("dropdownMenu");
            // Toggle the display of the dropdown menu
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }


        function toggleTheme() {
            const body = document.body;
            body.classList.toggle('dark-mode');
            body.classList.remove('neon-mode');
        }

        function toggleNeon() {
            const body = document.body;
            body.classList.toggle('neon-mode');
            body.classList.remove('dark-mode');
        }
    </script>

</body>
</html>
