{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Spotify Wrapped</title>
    <link rel="stylesheet" href="{% static 'spotifywrapped/homestyle.css' %}">
</head>
<body>

    <h2>Meet the Team</h2>

    <ul>
        <li>
            <strong>Stuthi Bhat</strong>: Full Stack Developer
            <br>
            <a href="mailto:stuthibhat4@gmail.com">Email Stuthi</a>
        </li>
        <li>
            <strong>Maya Blair</strong>: Front End Developer
            <br>
            <a href="mailto:maya@example.com">Email Maya</a>
        </li>
        <li>
            <strong>Jordyn</strong>: Full Stack Developer
            <br>
            <a href="mailto:jordyn@example.com">Email Jordyn</a>
        </li>
        <li>
            <strong>Raymond</strong>: Back End Developer
            <br>
            <a href="mailto:raymond@example.com">Email Raymond</a>
        </li>
        <li>
            <strong>Jess</strong>: Game Developer
            <br>
            <a href="mailto:jess@example.com">Email Jess</a>
        </li>
    </ul>

</body>
</html>
