{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Favorite Decade</title>
   <link rel="stylesheet" href="{% static 'spotifywrapped/homestyle.css' %}">
</head>

<script>
    function toggleMenu() {
        const dropdown = document.getElementById("dropdownMenu");
        dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
    }

    document.addEventListener("DOMContentLoaded", function () {
        const cards = document.querySelectorAll(".card");

        function revealCards() {
            cards.forEach(card => {
                const cardTop = card.getBoundingClientRect().top;
                const windowHeight = window.innerHeight;

                if (cardTop < windowHeight - 50) {
                    card.classList.add("visible");
                }
            });
        }

        window.addEventListener("scroll", revealCards);
        revealCards();
    });

    function toggleTheme() {
        document.body.classList.toggle('dark-mode');
    }

    function toggleNeon() {
        document.body.classList.toggle('neon-mode');
    }

</script>


<body>
   <header>
        <div class="logo">
            <img src="../../static/spotifywrapped/spotify.png" alt="Spotify Logo">
            <h1>My Favorite Decade</h1>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

  <div class="dropdown-menu" id="dropdownMenu">
        <ul>

            <li><a href="{% url 'settings' %}" id="settingsLink">Settings</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>

            <li><button onclick="toggleTheme()">Toggle Dark Mode</button></li>
            <li><button onclick="toggleNeon()">Toggle Neon Mode</button></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Log Out</a></li>

        </ul>
    </div>

   <section>

       {% if top_decade %}
            <div class="favorite-decade">
                <h3>The {{ top_decade }}s</h3>
                <p>Based on your top tracks, you love songs from the {{ top_decade }}s the most!</p>
            </div>
            <div class="decade-breakdown">
                <h4>Decade Breakdown</h4>
                <ul>
                    {% for decade in decade_data %}
                        <li>{{ decade.decade }}s: {{ decade.count }} songs</li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>No favorite decade could be determined from your top tracks.</p>
        {% endif %}


       <a href="{% url 'top_playlist' %}" class="btn">Back</a>
       <a href="{% url 'favorite_mood' %}" class="btn">Next</a>
       <a href="{% url 'home' %}" class="btn">Back To Home</a>
   </section>
</body>
</html>
