{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Spotify Wrapped</title>

    <link rel="stylesheet" href="{% static 'spotifywrapped/homestyle.css' %}">
    <script src="script.js" defer></script> <!-- Include the JavaScript file -->

</head>
<script>
    function toggleMenu() {
        const dropdown = document.getElementById("dropdownMenu");
        dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
    }

    document.addEventListener("DOMContentLoaded", function () {
        const cards = document.querySelectorAll(".card");

        function revealCards() {
            cards.forEach(card => {
                const cardTop = card.getBoundingClientRect().top;
                const windowHeight = window.innerHeight;

                if (cardTop < windowHeight - 50) {
                    card.classList.add("visible");
                }
            });
        }

        window.addEventListener("scroll", revealCards);
        revealCards();
    });

    function toggleTheme() {
        document.body.classList.toggle('dark-mode');
    }

    function toggleNeon() {
        document.body.classList.toggle('neon-mode'); // Add/Remove neon mode
    }

</script>

<body>
    {% include 'spotifywrapper/banner.html' %}

    <section class="intro">
        <h2>Your 2024 Wrapped is Here!</h2>

        <p>You’ve had a long year, and we have your soundtrack to go with it...</p>
        <div class="navigation-buttons">

            <a href="{% url 'wrapped' %}" class="btn">Full Wrapped</a>
            <a href="{% url 'top_genre' %}" class="btn">Wrapped Breakdown</a>
            <a href="{% url 'savedwraps' %}" class="btn">View Saved Wraps!</a>
            <a href="" class="btn">Play this Game!</a>


        </div>

    </section>


    <div class="pic-container">
        <div id="blue-squiggle">
                <img src="../../static/spotifywrapped/bluesquiggle.png" alt="Blue squiggle">
        </div>

        <div id="silver-squiggle">
            <img src="../../static/spotifywrapped/silversquiggle.png" alt="Silver squiggle">
        </div>

        <div id="lavender">
            <img src="../../static/spotifywrapped/lavender.png" alt="Lavender">
        </div>

        <div id="flower">
           <img src="../../static/spotifywrapped/flower.png" alt="Flower">
       </div>

    </div>



</body>
</html>