{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create to Your Account!</title>
    <link rel="stylesheet" href="{% static 'spotifywrapped/style.css' %}">
    <script>
        function showHints() {
            document.getElementById('password-hints').style.display = 'block';
        }

        function hideHints() {
            document.getElementById('password-hints').style.display = 'none';
        }
    </script>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Create Your Account!</span></div>
        <form name="RegisterForm" action="{% url 'register' %}" method="post">
            <div class="row">
                <i class="fas fa-user"></i>
                <label>
                    <input type="text" id="id_username" name="username" placeholder="Enter a username" required>
                </label>
            </div>
            {% csrf_token %}
            <div class="row">
                <i class="fas fa-user"></i>
                <label>
                    <input type="email" id="id_email" name="email" placeholder="Enter your email" required>
                </label>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <label>
                    <input type="password" id='id_password1' name="password1" placeholder="Enter a password" required onfocus="showHints()" onblur="hideHints()">
                </label>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <label>
                    <input type="password" id='id_password2' name="password2" placeholder="Confirm your password" required>
                </label>
            </div>
            <div class="row button">
                <input type="submit" value="Register">
            </div>
            {% if form.password2.errors %}
            <div class="error">
                {{ form.password2.errors }}
            </div>
            {% endif %}
            <div id="password-hints" class="hint">
                <ul>
                    <li>Must be at least 8 characters long</li>
                    <li>Must include letters and numbers</li>
                    <li>Must be different from username</li>
                </ul>
            </div>
             <div class="signup-link">Already have an account? <a href="{% url 'login' %}">Login here!!</a></div>
        </form>
    </div>
</div>
</body>
</html>