{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Top Playlist</title>
   <link rel="stylesheet" href="{% static 'spotifywrapped/homestyle.css' %}">
</head>

<script>
    function toggleMenu() {
        const dropdown = document.getElementById("dropdownMenu");
        dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
    }

    document.addEventListener("DOMContentLoaded", function () {
        const cards = document.querySelectorAll(".card");

        function revealCards() {
            cards.forEach(card => {
                const cardTop = card.getBoundingClientRect().top;
                const windowHeight = window.innerHeight;

                if (cardTop < windowHeight - 50) {
                    card.classList.add("visible");
                }
            });
        }

        window.addEventListener("scroll", revealCards);
        revealCards();
    });

    function toggleTheme() {
        document.body.classList.toggle('dark-mode');
    }

    function toggleNeon() {
        document.body.classList.toggle('neon-mode');
    }

</script>


<body>
   <header>
        <div class="logo">
            <img src="../../static/spotifywrapped/spotify.png" alt="Spotify Logo">
            <h1>My Top Playlist</h1>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>

  <div class="dropdown-menu" id="dropdownMenu">
        <ul>

            <li><a href="{% url 'settings' %}" id="settingsLink">Settings</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>

            <li><button onclick="toggleTheme()">Toggle Dark Mode</button></li>
            <li><button onclick="toggleNeon()">Toggle Neon Mode</button></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Log Out</a></li>

        </ul>
    </div>

   <section>

       <div class="playlist-card">
            {% if top_playlist %}
                <img src="{{ top_playlist.image }}" alt="{{ top_playlist.name }}" class="playlist-image">
                <p class="playlist-name">{{ top_playlist.name }}</p>
                <p class="playlist-description">{{ top_playlist.description }}</p>
                <p class="playlist-tracks">Tracks: {{ top_playlist.track_count }}</p>
                <a href="{{ top_playlist.url }}" target="_blank" class="playlist-link">Listen on Spotify</a>
            {% else %}
                <p>No playlists found.</p>
            {% endif %}
        </div>


       <a href="{% url 'top_songs' %}" class="btn">Back</a>
       <a href="{% url 'favorite_decade' %}" class="btn">Next</a>
       <a href="{% url 'home' %}" class="btn">Back To Home</a>
   </section>
</body>
</html>
